@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}
.ratio {
  width: 90%;
  margin: 30px auto;
}
ul > a {
  text-decoration: none;
  color: #3a3a3a;
}
ul {
  display: flex;
  align-items: center;
  gap: 18px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul > a:hover {
  color: red;
}
.btn-primary {
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 30px;
  font-weight: 600;
}
.cmra-back {
  background-image: url("/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
.cmra-img {
  width: 380px;
}
.banner-txt {
  width: 40%;
}
